# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# MySQL
*.pem
*.log
database/
mysql-8/
vendor/
tests/
node_modules/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
config.php

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
